{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div class="entry-list">
            {% for entry in entries %}
            <article>
                <h2><a href="{{ url_for('detail', slug=entry.slug) }}">{{ entry.title }}</a></h2>
                {{ entry.date.strftime('%b %d, %Y') }}<br>
                user: {{ entry.user_id.username }}<br>
                {% for tag in entry.tags.split(", ") %}
                    |<a href="{{ url_for('index', tag=entry.tags) }}">{{ tag }}</a>|
                {% endfor %}
            </article>
            {% endfor %}
        </div>
    </div>
{% endblock %}

