{% extends 'layout.html' %}

{% from 'macros.html' import render_field %}

{% block content %}
    <div class="container">
        <div class="new-entry">
            <h2>New Entry</h2>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                {{ render_field(form.title) }}
                {{ render_field(form.date) }}
                {{ render_field(form.time_spent) }}
                {{ render_field(form.what_you_learned) }}
                {{ render_field(form.resources_to_remember) }}
                {{ render_field(form.tags) }}
                <input type="submit" value="Publish Entry" class="button">
                <a href="{{ url_for('new_entry') }}" class="button button-secondary">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}
